# Example environment variables
ADT_BASE_URL=https://api.youradt.com
ADT_AUTH_HEADER=Bearer yourtoken
DB_URL=postgresql+psycopg2://user:pass@localhost/maersk
# or sqlite:///./data/poc.db
OCR_ENABLED=true
MOCK_ADT=false

# Azure OpenAI settings
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2023-05-15

# test helper
MOCK_GPT=true
